* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Anek Telugo", sans-serif;
}

.uigradient {
  position: absolute;
  z-index: -1;
  background: linear-gradient(-45deg, red, rgb(221, 17, 194), blue, yellow);
  background-size: 400% 400%;
  width: 100%;
  height: 40vh;
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
  animation: animate 15s linear infinite;
  margin-top: -8px;
}

@keyframes animate {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.header {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0 32px;
  padding: 8px 16px;
}

.material-symbols-outlined {
  text-align: center;
  width: 50px;
  height: 30px;
  background-color: #f5f5dc48;
  border-radius: 30%;
}

.button-signin {
  display: none;
}

.header--menu {
  display: none;
}

.first-container{
padding:50px 0;
}

.col-left-first{
  width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  margin: 0 10px;
}


.title-h1 {
  color: black;
  font-size: 47px;
  font-weight: bolder;
  text-align: start;
  line-height: 1.5;
  
}
.text-header {
  margin: 18px 0;
  font-size: 20px;
  text-align: left;
  word-spacing: 5px;
  line-height: 1.5;
}

.container-button {
  margin: 18px 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.primary-button {
  width: 123px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #0a2540;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  letter-spacing: 1.25px;
  font-weight: bold;
  border: none;
}

.secondary-button {
  background:none ;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150;
  height: 40;
  color: #7000ff;
  font-size: 18px;
  margin: 0 0 0 16px;
  padding: 1px 6px;
  cursor: pointer;
  letter-spacing: 1.25px;
  font-weight: bold;
  border: none;
}

 .button-icon{
  margin: 10px;
} 

.col-right-first{
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.first-section_phone{
  display:none ;
}

.partners-grid{
  margin: 60px 0 0 0;
  display: grid; 
 grid-template-columns:repeat(2, 1fr); 
 column-gap: 16px;
 row-gap:32px ;
 padding: 0 16px;
}

.partners-grid img {
  width: 136px;
  height: 40px;
}
.credit-card {
  width: 75px;
  height: 45px;
}

.phone {
  width: 75px;
  height: 137px;
}

.slack-inovice {
  width: 181px;
  height: 108px;
}

.dash {
  width: 181px;
  height: 108px;
}

.container-third-section {
  width: 100%;
  display: flex;
  justify-content: center;
}

.graphic-gird {
  display: grid;
  padding: 32px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px; /* Ajusta el espacio entre las imágenes según tus necesidades */
  grid-template-areas:
    "card slack"
    "phone dash"
    "phone dash";
    gap: 16px;
    align-items: center;
}

.credit-card {
  grid-area: card;
  border-radius: 10px;
}

.phone {
  grid-area: phone;
}

.slack-invoice {
  grid-area: slack;
}

.dash {
  grid-area: dash;
}

.graphic-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (min-width: 768px) {

  .first-container{
    display: flex;
  }

  .first-section_phone{
    display: inline;
    width: 250px;
    height: 470px;
  }

  .partners-grid{
   display: grid; 
   grid-template-columns:repeat(4, 1fr); 
  }
  
 
}

@media (min-width: 1024px) {

  .material-symbols-outlined {
    display: none;
  }

  .header--menu {
    display: block;
  }

  .header--menu a {
    width: 50px;
    height: 20px;
    color: #FFFFFF;
    font-size:16px ;
    font-weight: 900;
    text-decoration: none;
    margin: 10px;
  }

  .header--menu a:hover {
    text-decoration: underline;

  }

  .button-signin {
    display: block;
    color: #FFFFFF;
    background:rgba(250, 252, 252, 0.24); 
    font-size: 16px;
    font: bolder;
    padding: 8px 16px;
    border-radius: 20px;
    border: none;
  }
  .button-signin:hover{
    background:rgba(226, 236, 236, 0.753);
    cursor: pointer;
  }

  .title-h1 {
    font-size: 80px;
    
  }

  .button-icon{
    transition: transform 0.5s ease;
  }

  .primary-button:hover .button-icon{
    transform: translateX(10px);
  }
  .secondary-button:hover .button-icon{
    transform: translateX(10px);
  }
  
  .first-section_phone{
    display: inline;
    width: 350px;
    height: 550px;
  }

  
}

